

.close-button {
    -fx-font-size: 12px;
    -fx-background-color: #ff6666;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.close-button:hover {
    -fx-background-color: #ff4d4d;
}

.button-circle {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.button-glow-yellow {
    -fx-border-width: 4px;
    -fx-border-color: transparent, yellow; /* Primo colore trasparente per l'effetto di sfumatura */
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.button-glow-red {
    -fx-border-width: 4px;
    -fx-border-color: transparent, red; /* Primo colore trasparente per l'effetto di sfumatura */
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.button-glow-blue {
    -fx-border-width: 4px;
    -fx-border-color: transparent, blue; /* Primo colore trasparente per l'effetto di sfumatura */
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.button-glow-green {
    -fx-border-width: 4px;
    -fx-border-color: transparent, green; /* Primo colore trasparente per l'effetto di sfumatura */
    -fx-background-color: transparent;
    -fx-background-radius: 5px;

}

.green {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.round-red {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size:12;
    -fx-font-family: Arial Black;

}
.bevel-grey {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.glass-grey {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.shiny-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.dark-blue {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial Black";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;

    -fx-padding: 5 5 5 5;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-font-size:33px !important;
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.record-sales2 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #205ab0 0%, #5e79a6 100%),
            #205ab0,
            #5e79a6,
            radial-gradient(center 50% 50%, radius 100%, #205ab0, #5e79a6);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales2:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #205ab0 0%, #5e79a6 100%),
            #205ab0,
            #5e79a6,
            radial-gradient(center 50% 50%, radius 100%, #205ab0, #5e79a6);
    -fx-font-size:33px !important;
}
.record-sales2:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.record-sales3 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #138112 0%, #739b6a 100%),
            #138112,
            #739b6a,
            radial-gradient(center 50% 50%, radius 100%, #138112, #739b6a);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales3:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #138112 0%, #739b6a 100%),
            #138112,
            #739b6a,
            radial-gradient(center 50% 50%, radius 100%, #138112, #739b6a);
    -fx-font-size:33px !important;
}
.record-sales3:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales3 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


.record-sales4:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ffff00 0%, #c9a730 100%),
            #ffff00,
            #c9a730,
            radial-gradient(center 50% 50%, radius 100%, #ffff00, #c9a730);
    -fx-font-size:33px !important;
}
.record-sales4:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales4 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.record-sales5 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #fb9d32 0%, #fb8332 100%),
            #fb9d32,
            #fb8332,
            radial-gradient(center 50% 50%, radius 100%, #fb9d32, #fb8332);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales5:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #c4ee2c 0%, #64ee2c 100%),
            #c4ee2c,
            #64ee2c,
            radial-gradient(center 50% 50%, radius 100%, #c4ee2c, #64ee2c);
    -fx-font-size:22px !important;
}
.record-sales5:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales5 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.big-yellow {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dcca8a, #c7a740),
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.big-yellow Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.backgroundMainScene{
    -fx-background-image: url("../../img/sfondo_parquet.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.BoardStyle{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-radius: 5;
}
.backgroundWall{
    -fx-background-image: url("../../img/base_pagina2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.backgroundForest{
    -fx-background-image: url("../../img/sfondoForesta.jpg");

    -fx-background-size: cover;
}
.backgroundPublisher{
    -fx-background-image: url("../../img/copertina.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundNickname{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundMenu{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundGame{
    -fx-background-image: url("../../img/Deck.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundLobby{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;

}

.textarea {
    font-size: 24px; /* Dimensione del testo grande */
    font-weight: bold; /* Testo grassetto */
    -fx-font-family: "Arial Black";
    padding: 10px; /* Spaziatura interna */
    border-radius: 5px; /* Angoli arrotondati */
    resize: vertical; /* Permette il ridimensionamento solo verticale */
}
.list-view {
    -fx-font-size: 12px; /* Dimensione del testo degli elementi */
    -fx-font-weight: bold; /* Testo grassetto */
    -fx-border-color: #cccccc; /* Colore del bordo degli elementi */
    -fx-border-width: 1px; /* Spessore del bordo degli elementi */
    -fx-padding: 5px; /* Spaziatura interna degli elementi */
}
.popupPane {
    -fx-border-color: green;
    -fx-border-width: 5;
    -fx-background-color: rgba(255, 255, 0, 0.3);
    -fx-effect: dropshadow(three-pass-box, greenyellow, 10, 0, 0, 0);
}

.glow-button {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.8), 10, 0.5, 0, 0);
}
.glow-pane {
    -fx-effect:  dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0, 0);
    -fx-background-color: rgba(255, 0, 0, 1.0);
}
.red-glow-pane{
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 1.0), 20, 0.5, 0, 0);
    -fx-background-color: transparent;
}

.gold-glow-hbox {
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0.5, 0, 0);
    -fx-background-color: transparent;
}
.green-glow-hbox {
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 0.8), 20, 0.5, 0, 0);
    -fx-background-color: transparent;
}

.image-view:pressed {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 10, 0.5, 0, 0);
    -fx-background-color: transparent;
}

.scale-button {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.scale-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}







