.green {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.round-red {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
.bevel-grey {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.glass-grey {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.shiny-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.dark-blue {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-font-size:33px !important;
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.record-sales2 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #205ab0 0%, #5e79a6 100%),
            #205ab0,
            #5e79a6,
            radial-gradient(center 50% 50%, radius 100%, #205ab0, #5e79a6);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales2:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #205ab0 0%, #5e79a6 100%),
            #205ab0,
            #5e79a6,
            radial-gradient(center 50% 50%, radius 100%, #205ab0, #5e79a6);
    -fx-font-size:33px !important;
}
.record-sales2:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.record-sales3 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #138112 0%, #739b6a 100%),
            #138112,
            #739b6a,
            radial-gradient(center 50% 50%, radius 100%, #138112, #739b6a);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales3:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #138112 0%, #739b6a 100%),
            #138112,
            #739b6a,
            radial-gradient(center 50% 50%, radius 100%, #138112, #739b6a);
    -fx-font-size:33px !important;
}
.record-sales3:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales3 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


.record-sales4 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ffff00 0%, #c9a730 100%),
            #ffff00,
            #c9a730,
            radial-gradient(center 50% 50%, radius 100%, #ffff00, #c9a730);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales4:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ffff00 0%, #c9a730 100%),
            #ffff00,
            #c9a730,
            radial-gradient(center 50% 50%, radius 100%, #ffff00, #c9a730);
    -fx-font-size:33px !important;
}
.record-sales4:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales4 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.record-sales5 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #fb9d32 0%, #fb8332 100%),
            #fb9d32,
            #fb8332,
            radial-gradient(center 50% 50%, radius 100%, #fb9d32, #fb8332);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size:22;
}
.record-sales5:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #c4ee2c 0%, #64ee2c 100%),
            #c4ee2c,
            #64ee2c,
            radial-gradient(center 50% 50%, radius 100%, #c4ee2c, #64ee2c);
    -fx-font-size:22px !important;
}
.record-sales5:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales5 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.rich-blue {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
.big-yellow {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dcca8a, #c7a740),
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.big-yellow Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}
.iphone-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}
.iphone {
    -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.iphone Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}
.ipad-dark-grey {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.ipad-dark-grey Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}
.ipad-grey {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
            linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.ipad-grey Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
.lion-default {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.lion {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.windows7-default {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.windows7 {
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.backgroundPublisher{
    -fx-background-image: url("../../img/copertina.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundNickname{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundMenu{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundGame{
    -fx-background-image: url("../../img/Deck.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundLobby{
    -fx-background-image: url("../../img/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;

}
.glow-button {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.8), 10, 0.5, 0, 0);
}

.scale-button {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.scale-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
/*CARDS*/

/* INITIAL_CARDS*/
/*Initial Back*/
.ib0{
    -fx-background-image: url("../../img/Cards/initialCards/0_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ib1{
    -fx-background-image: url("../../img/Cards/initialCards/1_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ib2{
    -fx-background-image: url("../../img/Cards/initialCards/2_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ib3{
    -fx-background-image: url("../../img/Cards/initialCards/3_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ib4{
    -fx-background-image: url("../../img/Cards/initialCards/4_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ib5{
    -fx-background-image: url("../../img/Cards/initialCards/5_InitialBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
/*Initial Front*/
.if0{
    -fx-background-image: url("../../img/Cards/initialCards/0_InitialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.if1{
    -fx-background-image: url("../../img/Cards/initialCards/1_initialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.if2{
    -fx-background-image: url("../../img/Cards/initialCards/2_initialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.if3{
    -fx-background-image: url("../../img/Cards/initialCards/3_initialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.if4{
    -fx-background-image: url("../../img/Cards/initialCards/4_initialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.if5{
    -fx-background-image: url("../../img/Cards/initialCards/5_initialFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

/*RESOURCE_CARDS*/
/*Resource Front*/
.rf0{
    -fx-background-image: url("../../img/Cards/ResourceCards/0_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf1{
    -fx-background-image: url("../../img/Cards/ResourceCards/1_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rf2{
    -fx-background-image: url("../../img/Cards/ResourceCards/2_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rf3{
    -fx-background-image: url("../../img/Cards/ResourceCards/3_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rf4{
    -fx-background-image: url("../../img/Cards/ResourceCards/4_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rf5 {
    -fx-background-image: url("../../img/Cards/ResourceCards/5_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf6 {
    -fx-background-image: url("../../img/Cards/ResourceCards/6_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf7 {
    -fx-background-image: url("../../img/Cards/ResourceCards/7_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf8 {
    -fx-background-image: url("../../img/Cards/ResourceCards/8_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf9 {
    -fx-background-image: url("../../img/Cards/ResourceCards/9_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf10 {
    -fx-background-image: url("../../img/Cards/ResourceCards/10_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf11 {
    -fx-background-image: url("../../img/Cards/ResourceCards/11_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf12 {
    -fx-background-image: url("../../img/Cards/ResourceCards/12_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf13 {
    -fx-background-image: url("../../img/Cards/ResourceCards/13_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf14 {
    -fx-background-image: url("../../img/Cards/ResourceCards/14_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf15 {
    -fx-background-image: url("../../img/Cards/ResourceCards/15_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf16 {
    -fx-background-image: url("../../img/Cards/ResourceCards/16_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf17 {
    -fx-background-image: url("../../img/Cards/ResourceCards/17_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf18 {
    -fx-background-image: url("../../img/Cards/ResourceCards/18_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf19 {
    -fx-background-image: url("../../img/Cards/ResourceCards/19_Resourcefront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf20 {
    -fx-background-image: url("../../img/Cards/ResourceCards/20_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf21 {
    -fx-background-image: url("../../img/Cards/ResourceCards/21_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf22 {
    -fx-background-image: url("../../img/Cards/ResourceCards/22_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf23 {
    -fx-background-image: url("../../img/Cards/ResourceCards/23_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf24 {
    -fx-background-image: url("../../img/Cards/ResourceCards/24_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf25 {
    -fx-background-image: url("../../img/Cards/ResourceCards/25_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf26 {
    -fx-background-image: url("../../img/Cards/ResourceCards/26_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf27 {
    -fx-background-image: url("../../img/Cards/ResourceCards/27_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf28 {
    -fx-background-image: url("../../img/Cards/ResourceCards/28_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf29 {
    -fx-background-image: url("../../img/Cards/ResourceCards/29_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf30 {
    -fx-background-image: url("../../img/Cards/ResourceCards/30_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf31 {
    -fx-background-image: url("../../img/Cards/ResourceCards/31_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf32 {
    -fx-background-image: url("../../img/Cards/ResourceCards/32_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf33 {
    -fx-background-image: url("../../img/Cards/ResourceCards/33_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf34 {
    -fx-background-image: url("../../img/Cards/ResourceCards/34_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf35 {
    -fx-background-image: url("../../img/Cards/ResourceCards/35_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf36 {
    -fx-background-image: url("../../img/Cards/ResourceCards/36_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf37 {
    -fx-background-image: url("../../img/Cards/ResourceCards/37_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf38 {
    -fx-background-image: url("../../img/Cards/ResourceCards/38_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rf39 {
    -fx-background-image: url("../../img/Cards/ResourceCards/39_ResourceFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
/*Resource Back*/
.rb0 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb1 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb2 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb3 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb4 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb5 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb6 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb7 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb8 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb9 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb10 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb11 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb12 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb13 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb14 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb15 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb16 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb17 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb18 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb19 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourcePlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb20 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb21 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb22 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb23 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb24 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb25 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb26 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb27 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb28 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb29 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb30 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb31 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb32 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb33 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb34 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb35 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb36 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb37 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb38 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.rb39 {
    -fx-background-image: url("../../img/Cards/ResourceCards/ResourceInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}



/*GOLD_CARDS*/
/*Gold Front*/
.gf0 {
    -fx-background-image: url("../../img/Cards/GoldCards/0_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf1 {
    -fx-background-image: url("../../img/Cards/GoldCards/1_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf2 {
    -fx-background-image: url("../../img/Cards/GoldCards/2_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf3 {
    -fx-background-image: url("../../img/Cards/GoldCards/3_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf4 {
    -fx-background-image: url("../../img/Cards/GoldCards/4_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf5 {
    -fx-background-image: url("../../img/Cards/GoldCards/5_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf6 {
    -fx-background-image: url("../../img/Cards/GoldCards/6_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf7 {
    -fx-background-image: url("../../img/Cards/GoldCards/7_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf8 {
    -fx-background-image: url("../../img/Cards/GoldCards/8_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf9 {
    -fx-background-image: url("../../img/Cards/GoldCards/9_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf10 {
    -fx-background-image: url("../../img/Cards/GoldCards/10_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf11 {
    -fx-background-image: url("../../img/Cards/GoldCards/11_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf12 {
    -fx-background-image: url("../../img/Cards/GoldCards/12_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf13 {
    -fx-background-image: url("../../img/Cards/GoldCards/13_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf14 {
    -fx-background-image: url("../../img/Cards/GoldCards/14_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf15 {
    -fx-background-image: url("../../img/Cards/GoldCards/15_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf16 {
    -fx-background-image: url("../../img/Cards/GoldCards/16_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf17 {
    -fx-background-image: url("../../img/Cards/GoldCards/17_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf18 {
    -fx-background-image: url("../../img/Cards/GoldCards/18_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf19 {
    -fx-background-image: url("../../img/Cards/GoldCards/19_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf20 {
    -fx-background-image: url("../../img/Cards/GoldCards/20_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf21 {
    -fx-background-image: url("../../img/Cards/GoldCards/21_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf22 {
    -fx-background-image: url("../../img/Cards/GoldCards/22_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf23 {
    -fx-background-image: url("../../img/Cards/GoldCards/23_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf24 {
    -fx-background-image: url("../../img/Cards/GoldCards/24_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf25 {
    -fx-background-image: url("../../img/Cards/GoldCards/25_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf26 {
    -fx-background-image: url("../../img/Cards/GoldCards/26_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf27 {
    -fx-background-image: url("../../img/Cards/GoldCards/27_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf28 {
    -fx-background-image: url("../../img/Cards/GoldCards/28_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf29 {
    -fx-background-image: url("../../img/Cards/GoldCards/29_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf30 {
    -fx-background-image: url("../../img/Cards/GoldCards/30_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf31 {
    -fx-background-image: url("../../img/Cards/GoldCards/31_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf32 {
    -fx-background-image: url("../../img/Cards/GoldCards/32_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf33 {
    -fx-background-image: url("../../img/Cards/GoldCards/33_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf34 {
    -fx-background-image: url("../../img/Cards/GoldCards/34_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf35 {
    -fx-background-image: url("../../img/Cards/GoldCards/35_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.gf36 {
    -fx-background-image: url("../../img/Cards/GoldCards/36_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gf37 {
    -fx-background-image: url("../../img/Cards/GoldCards/37_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gf38 {
    -fx-background-image: url("../../img/Cards/GoldCards/38_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gf39 {
    -fx-background-image: url("../../img/Cards/GoldCards/39_GoldFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

/*Gold Back*/
.gb0 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb1 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb2 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb3 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb4 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb5 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb6 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb7 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb8 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb9 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldFungiBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb10 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb11 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb12 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb13 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb14 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb15 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb16 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb17 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb18 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb19 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldPlantBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb20 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb21 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb22 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb23 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb24 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb25 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb26 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb27 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb28 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb29 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldAnimalBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb30 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb31 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb32 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb33 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb34 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb35 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb36 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb37 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb38 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gb39 {
    -fx-background-image: url("../../img/Cards/GoldCards/GoldInsectBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}




/*OBJECTIVE_CARDS*/
/*Objective Front*/
.of0 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/0_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.of0 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/0_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of1 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/1_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of2 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/2_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of3 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/3_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of4 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/4_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of5 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/5_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of6 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/6_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of7 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/7_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of8 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/8_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of9 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/9_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of10 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/10_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of11 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/11_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of12 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/12_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of13 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/13_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of14 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/14_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.of15 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/15_ObjectiveFront.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}


/*Objective Back*/
.ob0 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ob0 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob1 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob2 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob3 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob4 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob5 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob6 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob7 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob8 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob9 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob10 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob11 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob12 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob13 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.ob14 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.ob15 {
    -fx-background-image: url("../../img/Cards/ObjectiveCards/ObjectiveBack.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}





